#main{
    margin-top: 50px;
}
#dashboard{
    margin-top: 50px;
}
body{
    background-color: #f5f5f5;
}
#users{
    margin-top: 50px;
    border-radius: 5px;
    padding: 20px;
    color: #ffffff;
    background-color: #4CAF50;
}
#head{
    background-color: #333;
    color: #ffffff;
    padding: 10px;
}