/* style.css */
body {
    font-family: 'Roboto', sans-serif; /* Use a clean font */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4; 
    margin: 0;
}

.user-profile-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; 
}

h3 {
    margin-top: 20px; 
    color: #555; 
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #777; 
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px); /* Account for padding and border */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    font-size: 16px;
}


.button-group {
    margin-top: 20px;
    text-align: right; 
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.save-button {
    background-color: #4CAF50;
    color: white;
}

.update-button {
    background-color: #007bff;
        color: white;
}

.cancel-button {
    background-color: #f44336;
    color: white;
}

button:hover {
    opacity: 0.8;
}

.password-update {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}